@model IEnumerable<DatingSite_Projekt.Models.SearchModel>
@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>SearchUserResult</h2>


<ul>
    @foreach(var user in Model)
    { <li> @Html.ActionLink(@user.Username, "Friends", "Account", new{ id = @user.UserId}, null) </li>}
</ul>


