@using DatingSite_Projekt.Models
@model IEnumerable<AccountUserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron">
        <h1>Welcome to DatingSite!</h1>
        <p>Get ready to find the partner of a lifetime. Register today to get access to all our super hot and ambitious singles!</p>
        <p>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Members:</h3>
        </div>
    </div>
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center">

        @foreach (var u in @Model)
        {
            var profileImagePath = @u.Username + ".jpg";
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="/Images/Profile/@profileImagePath" class="img-rounded" alt="">
                    <div class="caption">
                        <h3> @u.Username, @u.Age</h3>
                        <p>@u.AboutMe</p>
                        <p>
                            <a href="/account/Details/@u.UserId" class="btn btn-primary">Go to profile</a>
                        </p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>